<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Grades</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/script.js" defer></script>
</head>
<body>
  <h1>Talented Squad Grade Tracker</h1>

  <div class="card-container">
    <% for(let i = 0; i < students.length; i++){ %>
      <div class="card">
        <img src="/pfp.png" alt="Profile Picture">
        <h2><%= students[i].name %></h2>
        <p>Average Grade: <%= students[i].grade %></p>

       

      </div>
    <% } %>
  </div>

</body>
</html>
